body {
    margin: 0;
    background-color: grey;
}
.Fisk {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

.tryk2040 {
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    margin: auto;
}

